:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.slogan {
    position: relative;
    top: 50%;
    text-align: center;
}

.slogan h1 {
    padding-bottom: 1rem;
}

.banner {
    position: relative;
    background: url(/style/banner.jpg) black center/cover no-repeat;
    width: 100%;
    height: 60vh;
}

.banner img {
    max-width: 100%;
}

.disclaim {
    text-align: center;
    text-decoration: underline;
    padding: 0 0 2rem;
}

.benefit {
    padding-top: 4rem;
}

.icon {
    display: block;
    width: 3rem;
    margin: 0 auto;
}

.icon img {
    max-width: 100%;
}

.logo {
    color: rgb(226, 75, 75);
    font-size: 3rem;
}

.navbar {
    height: 5rem;
    width: 100%;
    padding: 0 3rem;
    background: rgb(145, 201, 227);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: relative;
    z-index: 1;
    width: 2rem;
    height: 0.25rem;
    margin-bottom: 0.25rem;
    background: white;
    transform-origin: 0 0;
}

.menu {
    display: block;
}

.menu a {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    color: rgb(226, 75, 75);
    font-weight: bold;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 6rem 0;
}

.container div {
    width: 50%;
    padding: 2rem;
    background: antiquewhite;
}

.container h3 {
    font-size: 1.3rem;
}

@media (max-width: 1300px) {
    .container div {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .disclaim {
        font-size: 1.5rem;
    }

    .hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .container {
        margin: 3rem 1rem;
    }

    .container div {
        width: auto;
        margin-bottom: 0.5rem;
    }
}
