@media (max-width: 75em) {
    .lang-btn {
        margin-left: auto;
        margin-right: 1.5em;
    }

    .lang:first-child {
        margin-right: 0;
    }

    .navbar {
        padding: 0 2em;
    }

    .menu {
        display: none;
    }

    .toggle {
        display: block;
    }

    .content {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content h3 {
        padding-top: .5em;
    }

    .stat .stat-container  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stat-desc {
        width: 70%;
    }

    .stat-content-container {
        width: 70%;
    }
}

@media (max-width: 48em) {
    .navbar {
        padding: 0 1em;
    }

    .disclaim {
        font-size: 1.7rem;
    }

    .benefit .container {
        flex-direction: column;
        padding: 1em 0 0;
    }

    .container .content {
        max-width: 100%;
    }

    .content img {
        filter: grayscale(0);
    }

    .quick-info .container {
        flex-flow: column;
    }

    .stat-desc {
        width: 90%;
    }

    .stat-content-container {
        width: 90%;
    }
}