@media (max-width: 75rem) {
    .lang-btn {
        margin-left: auto;
        margin-right: 1.5em;
    }

    .navbar {
        padding: 0 2em;
    }

    .menu {
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 70%;
        z-index: 100;
        transform: translate(100%);
        background: var(--primary-bg-white);
    }
    
    .menu[data-visible="true"] {
        transition: transform .3s;
        transform: translate(0%);
    }

    .menu .nav-link {
        padding: 1em;
    }

    .menu .nav-link:hover,
    .menu .nav-link:focus,
    .nav-link.active {
        border-left: 3px solid var(--primary-color);
        color: var(--primary-color);
        background: #ad1f1f1c;
        box-shadow: none;
    }

    .toggle {
        display: block;
    }

    .content {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content h3 {
        padding-top: .5em;
    }

    .about-us {
        padding: 3em 0;
    }

    .about-us .container {
        justify-content: left;
    }

    .about-us img {
        position: absolute;
        bottom: -15%;
        right: -9%;
        z-index: -1;
    }

    .about-us .about-content {
        width: 75%;
        padding-left: 4em;
    }

    .stat .stat-container  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stat-container > * {
        width: 70%;
    }

    .partner .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partner .container > * {
        width: 70%;
    }
}

@media (max-width: 48rem) {
    .navbar {
        padding: 0 1em;
    }

    .disclaim {
        font-size: 1.7rem;
    }

    .benefit .container {
        flex-direction: column;
        padding-top: 1em;
    }

    .container .content {
        max-width: 100%;
    }

    .content img {
        filter: grayscale(0);
    }

    .about-us .about-content {
        width: 100%;
        padding-right: 3em;
    }

    .quick-info .container {
        flex-flow: column;
    }

    .stat-desc {
        width: 90%;
    }

    .stat-content-container {
        width: 90%;
    }

    .partner .container > * {
        width: 100%;
    }
}