:root {
    font-size: 16px;
    --primary-color : #ad1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.logo {
    font-size: 3rem;
    color: #ad1f1f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 5rem;
    width: 100%;
    background: #f1f1f1;
}

.menu a {
    color: var(--primary-color);
    padding: 0 1.5rem;
}

.toggle {
    display: none;
    cursor: pointer;
}

.toggle span {
    display: block;
    width: 2rem;
    height: .3rem;
    margin-bottom: .3rem;
    border-radius: 6px;
    background: black;
}

.toggle span:last-child {
    margin: 0;
}

.lang-btn .lang {
    display: inline-block;
    padding: 0 1rem;
    border: .5px solid #f1f1f1;
    border-radius: 10px;
    font-size: .9rem;
    cursor: pointer;
}

.lang:first-child {
    margin-right: .3rem;
}

.lang:hover {
    background: white;
    border-color: #e0e0e0;
}

.lang.active {
    font-weight: 700;
    background: white;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
    border: .5px solid #e0e0e0;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, .6);
}

.side-nav {
    position: fixed;
    top: 0;
    right: -50%;
    width: 13rem;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: all .3s;
    background: #f2f3f7;
}

.side-nav a {
    display: block;
    color: var(--primary-color);
    padding: 1rem;
}

.side-nav.active {
    right: 0;
    opacity: 1;
}

.exit {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem 1rem;
    font-weight: bold;
    color: var(--primary-color);
}

.icon {
    display: block;
    width: 2rem;
    margin: 0 auto;
}

.icon img {
    max-width: 100%;
}

.container {
    padding-top: 2rem;
}

.disclaim {
    text-align: center;
    padding-bottom: 3rem;
    color: var(--primary-color);
}

.benefit {
    padding-top: 2rem;
}

.benefit .container {
    max-width: 1400px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin: 0 auto;
}

.container .content {
    max-width: 50%;
}

.content {
    padding: 2.5rem;
    transition: box-shadow .2s linear;
}

.content:hover {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 6px 20px 0 rgba(0, 0, 0, .05); */
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
}

@media (max-width: 1100px) {
    .lang-btn {
        margin-left: auto;
        margin-right: 1.5rem;
    }

    .navbar {
        padding: 0 2rem;
    }

    .menu {
        display: none;
    }

    .toggle {
        display: block;
    }

    .content {
        text-align: center;
    }
}

@media (max-width: 760px) {
    .disclaim {
        font-size: 1.7rem;
    }

    .container {
        flex-direction: column;
        padding: 1rem 0 0;
    }

    .container .content {
        max-width: 100%;
    }
}
