:root {
    --primary-color : #ad1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.container {
    max-width: 87.5em;
}

/* Top Banner */
.banner {
    display: flex;
    width: 100%;
    height: 70vh;
    text-align: center;
    background: url(/web2/banner.jpg) center/cover no-repeat;
}

.banner .container {
    margin: auto;
}

.banner p {
    font-weight: bold;
}

/* Navigation Bar */
.logo {
    font-size: 3rem;
    color: #ad1f1f;
}

.navbar {
    padding: 0 3em;
    height: 5em;
    width: 100%;
    background: #f1f1f1;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.menu {
    display: flex;
}

.menu a {
    display: block;
    padding: 2em;
}

.menu a:hover,
.menu a:active {
    color: var(--primary-color);
    box-shadow: 0 42px 0 -40px var(--primary-color);
}

.menu a:focus {
    color: var(--primary-color);
}

.nav-link.active {
    color: var(--primary-color);
    box-shadow: 0 42px 0 -40px var(--primary-color);
}


/* Hamburger Button */
.toggle {
    display: none;
    cursor: pointer;
}

.toggle span {
    display: block;
    width: 2em;
    height: .3em;
    margin-bottom: .3em;
    border-radius: 6px;
    background: black;
}

.toggle span:last-child {
    margin: 0;
}


/* Language Button */
.lang-btn {
    display: flex;
}

.lang-btn .lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em .5em;
    border: .5px solid #f1f1f1;
    border-radius: 15px;
    font-size: .9em;
    cursor: pointer;
}

.lang-btn p {
    padding-left: .5em;
}

.lang:first-child {
    margin-right: .5em;
}

.lang:hover {
    background: white;
    border-color: #e0e0e0;
}

.lang.active {
    font-weight: 700;
    background: white;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
    border: .5px solid #e0e0e0;
}


/* Side Navigation Bar */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, .6);
}

.side-nav {
    position: fixed;
    top: 0;
    right: -50%;
    width: 13rem;
    height: 100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    background: #f2f3f7;
}

.side-nav.active {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.side-nav-link {
    display: block;
    padding: 1em;
}

.side-nav-link.active {
    border-left: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: #ad1f1f1c;
}

.exit {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1em 1em;
    font-weight: bold;
}


/* Main content */
.icon {
    display: block;
    width: 2em;
    margin: 0 auto;
}

.icon img {
    max-width: 100%;
}

.disclaim {
    text-align: center;
    padding-bottom: 1.5em;
}

.disclaim span {
    color: var(--primary-color);
}

.benefit {
    padding-top: 2em;
}

.benefit .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
    margin: 0 auto;
}

.container .content {
    max-width: 50%;
}

.content {
    padding: 2em;
    transition: box-shadow .2s linear;
}

.content:hover {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
}

@media (max-width: 68.75em) {
    .lang-btn {
        margin-left: auto;
        margin-right: 1.5em;
    }

    .lang:first-child {
        margin-right: 0;
    }

    .navbar {
        padding: 0 2em;
    }

    .menu {
        display: none;
    }

    .toggle {
        display: block;
    }

    .content {
        text-align: center;
    }
}

@media (max-width: 48em) {
    .navbar {
        padding: 0 1em;
    }

    .disclaim {
        font-size: 1.7rem;
    }

    .benefit .container {
        flex-direction: column;
        padding: 1em 0 0;
    }

    .container .content {
        max-width: 100%;
    }
}
